<fieldset class="fill--card">
    <legend class="hidden">rellena</legend>
        <h2 class="fill__title js__title--form">rellena</h2>
    <div class="fill__form drop-down">
        <div class="fill__box--name">
            <label class="fill_name" for="name">nombre completo</label>
            <input class="field__fill field__fill-name" type="text" name="name" placeholder="Ej: Sally Jill" id="firstName" required>
        </div>

        <div class="fill__box--job">
            <label class="fill_job" for="job">puesto</label>
            <input class="field__fill field__fill-job" type="text" name="job" placeholder="Ej: Front-end unicorn" id="job_position" required>
        </div>

        <div class="fill__box--photo">
            <label class="fill_photo" for="photo">imagen de perfil</label>
            <input class="hidden" type="file" name="photo" id="photo" required>
            <div class="photo__button-preview">
                <button class="photo__button" type="button">añadir imagen</button>
                <div class="photo__preview"></div>
            </div>
        </div>

        <div class="fill__box--email">
            <label class="fill_email" for="email">email</label>
            <input class="field__fill field__fill-icon input--email" type="email" name="email" placeholder="Ej: sally-hill@gmail.com" id="email_account" required>
        </div>
        <div class="fill__box--phone">
            <label class="fill_phone" for="telephone">teléfono</label>
            <input class="field__fill field__fill-icon input--phone" type="tel" name="telephone" placeholder="Ej: 555-55-55-55" id="telephone">
        </div>
        <div class="fill__box--linkedin">
            <label class="fill_linkedin" for="linkedin">linkedin</label>
            <input class="field__fill field__fill-icon input--linkedin" type="text" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" id="linkedin" required>
        </div>
        <div class="fill__box--github">
            <label class="fill_github" for="github">github</label>
            <input class="field__fill field__fill-icon input--github" type="text" name="github" placeholder="Ej: @sally-hill" id="github" required>
        </div>
    </div>
</fieldset>
