<fieldset class="design--card">
  <legend class="hidden">diseña</legend>
  <!-- DESIGN TITLE -->
  <h2 class=" design__title design__title2 js__title--form">diseña</h2>
  <!-- PALETTE LIST -->
  <div class="desing__form--container">
    <div class="design__form ">
      <h3 class="colors__title">colores</h3>
      <div class="design__form--colors">

        <!-- ALL PALETTES LIST -->
        <ul class="design__colors-list">

          <!-- PALETTE 1 -->
          <li class="palette">
            <label for="p1" class="palette__option">
              <input class="radio__palette radio__palette1" type="radio" name="palette" value="palette1" id="p1"
                checked>
              <ul class="palette--colors">
                <li class="color__box p1--color1" style="background-color: #114e4e">cyprus</li>
                <li class="color__box p1--color2" style="background-color: #438792">hippie blue</li>
                <li class="color__box p1--color3" style="background-color: #a2deaf">chinook</li>
              </ul>
            </label>
          </li>

          <!-- PALETTE 2 -->
          <li class="palette">
            <label for="p2" class="palette__option">
              <input class="radio__palette radio__palette2" type="radio" name="palette" value="palette2" id="p2">
              <ul class="palette--colors">
                <li class="color__box p2--color1" style="background-color: #420101">seal brown</li>
                <li class="color__box" style="background-color: #bd1010">free speech red</li>
                <li class="color__box" style="background-color: #e95626">cinnabar</li>
              </ul>
            </label>
          </li>
          <!-- PALETTE 3 -->
          <li class="palette">
            <label for="p3" class="palette__option">
              <input class="radio__palette radio__palette3" type="radio" name="palette" value="palette3" id="p3">
              <ul class="palette--colors">
                <li class="color__box p3--color1" style="background-color: #3e5b65">san juan</li>
                <li class="color__box p3--color2" style="background-color: #eab052">casablanca</li>
                <li class="color__box p3--color3" style="background-color: #a0c0cf">regent st blue</li>
              </ul>
            </label>
          </li>
          <!-- PALETTE 4 start -->
          <li class="palette">
            <label for="p4" class="palette__option">
              <input class="radio__palette radio__palette4" type="radio" name="palette" value="palette4" id="p4">
              <ul class="palette--colors">
                <li class="color__box p4--color1" style="background-color: #600060">purple</li>
                <li class="color__box" style="background-color: #aa00aa">medium orchid</li>
                <li class="color__box" style="background-color: #ff00ff">light purple</li>
              </ul>
            </label>
          </li>
          <!-- PALETTE 4 end -->
          <!-- PALETTE 5 start -->
          <li class="palette">
            <label for="p5" class="palette__option">
              <input class="radio__palette radio__palette5" type="radio" name="palette" value="palette5" id="p5">
              <ul class="palette--colors">
                <li class="color__box p5--color1" style="background-color: #005500">super dark green</li>
                <li class="color__box" style="background-color: #008000">green</li>
                <li class="color__box" style="background-color: #00aa55">lawnish green</li>
              </ul>
            </label>
          </li>
          <!-- PALETTE 5 end -->
        </ul>
      </div>
    </div>
  </div>
</fieldset>
