<div class="share--card">
  <div class="share__box">
    <div class="share__box--title">
      <!-- <div class="share__icon">
        <img class="icon__form" src="../assets/images/share-alt-solid.svg" alt="icon-share">
      </div> -->
      <h2 class="share__title">comparte</h2>
      <div class="down__icon"><i></i></div>
    </div>
    <div class="create__button-container">
      <button type="submit" class="create__button">crear tarjeta </button>
    </div>
    <div class="card__created--info">
      <p class="created--message">La tarjeta ha sido creada:</p>
      <a href="" class="link__card">URL del futuro</a>
      <a href="" class="share__button-twitter">
        <img src="assets/images/twitter-brands.svg" class="twitter__icon" alt="twitter-icon" >compartir en twitter
      </a>
    </div>
  </div>
</div>
<!-- hidden ESTA CLASE VA EN CARD__CREATED--INFO -->
