<fieldset class="fill--card">
  <legend class="hidden">rellena</legend>
  <div class="fill__box--title">
      <div class="fill__icon">
          <img class="icon__form" src="../assets/images/keyboard-regular.svg" alt="icon-fill">
      </div>
      <h2 class="fill__title">rellena</h2>
      <div class="down__icon"><i></i></div>
  </div>
  <div class="fill__form">
      <div class="fill__box--name">
          <label class="fill_name" for="name">nombre completo</label>
          <input class="field__fill" type="text" name="name" placeholder="Ej: Sally Jill" id="">
      </div>

      <div class="fill__box--job">
          <label class="fill_job" for="job">puesto</label>
          <input class="field__fill" type="text" name="job" placeholder="Ej: Front-end unicorn" id="">
      </div>

      <div class="fill__box--photo">
          <label class="fill_name" for="name">imagen de perfil</label>
          <input class="hidden" type="file" name="photo" id="photo" required="">
          <div class="photo__button-preview">
              <button class="photo__button" type="button">añadir imagen</button>
              <div class="photo__preview"></div>
          </div>
      </div>

      <div class="fill__box--email">
          <label class="fill_email" for="email">email</label>
          <input class="field__fill" type="email" name="email" placeholder="Ej: sally-hill@gmail.com" id="">
      </div>
      <div class="fill__box--phone">
          <label class="fill_phone" for="telephone">teléfono</label>
          <input class="field__fill" type="tel" name="telephone" placeholder="Ej: 555-55-55-55" id="">
      </div>
      <div class="fill__box--email">
          <label class="fill_email" for="email">linkedin</label>
          <input class="field__fill" type="text" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" id="">
      </div>
      <div class="fill__box--email">
          <label class="fill_email" for="email">github</label>
          <input class="field__fill" type="text" name="github" placeholder="Ej: @sally-hill" id="">
      </div>
  </div>
</fieldset>
