<fieldset class="design--card">
    <legend class="hidden">diseña</legend>
    <!-- DESIGN TITLE -->
    <div class="design__box--title">
        <h2 class="design__title">diseña</h2>
    </div>
    <!-- PALETTE LIST -->
    <div class="design__form">
        <h3 class="colors__title">colores</h3>
        <div class="design__form--colors">

            <!-- ALL PALETTES LIST -->
            <ul class="design__colors-list">

                <!-- PALETTE 1 -->
                <li class="palette">
                    <label for="p1" class="palette__option">
              <input class="radio__palette radio__palette1" type="radio" name="palette" value="palette1" id="p1">
              <ul class="palette--colors">
                  <li class="color__box p1--color1" style="background-color: #114e4e">cyprus</li>
                  <li class="color__box p1--color2" style="background-color: #438792">hippie blue</li>
                  <li class="color__box p1--color3" style="background-color: #a2deaf">chinook</li>
              </ul>
            </label>
                </li>

                <!-- PALETTE 2 -->
                <li class="palette">
                    <label for="p2" class="palette__option">
              <input class="radio__palette radio__palette2" type="radio" name="palette" value="palette2" id="p2">
              <ul class="palette--colors">
                  <li class="color__box p2--color1" style="background-color: #420101">seal brown</li>
                  <li class="color__box" style="background-color: #bd1010">free speech red</li>
                  <li class="color__box" style="background-color: #e95626">cinnabar</li>
              </ul>
            </label>
                </li>
                <!-- PALETTE 3 -->
                <li class="palette">
                    <label for="p3" class="palette__option">
              <input class="radio__palette radio__palette3" type="radio" name="palette" value="palette3" id="p3">
              <ul class="palette--colors">
                  <li class="color__box p3--color1" style="background-color: #3e5b65">san juan</li>
                  <li class="color__box p3--color2" style="background-color: #eab052">casablanca</li>
                  <li class="color__box p3--color3" style="background-color: #a0c0cf">regent st blue</li>
              </ul>
              </label>
                </li>
            </ul>
        </div>
    </div>

</fieldset>
