<div class="share--card">
    <div class="share__box">
            <h2 class="share__title js__title--form">comparte</h2>
            <div class="share__form drop-down">

                <div class="create__button-container">
                    <button type="submit" class="create__button">
                      <img class ="create__button--icon" src="assets/images/address-card-regular.svg">crear tarjeta</button>
                </div>
                <div class="card__created--info drop-down">
                    <p class="created--message">La tarjeta ha sido creada:</p>
                    <a href="" class="link__card"></a>
                    <div class="container__button-twitter">
                    <a href="" class="share__button-twitter">
                        <img src="assets/images/twitter-brands.svg" class="twitter__icon" alt="twitter-icon">Compartir en twitter</a>
                      </div>
                </div>
            </div>
    </div>
</div>
<!-- hidden ESTA CLASE VA EN CARD__CREATED--INFO -->
