<div class="preview__box">
    <div class="button-card__box">
        <button class="reset__button" type="reset"><img src="../assets/images/trash-alt-regular.svg" class="far fa-trash-alt"/><p class="reset__button-title">Reset</p></button>

        <div class="card__box">
            <div class="name-job__box">
                <p class="name__card">nombre apellido</p>
                <p class="job__card">front-end developer</p>
            </div>
            <div class="image-card__box">
                <img class="image-card" src="https://thispersondoesnotexist.com/image" alt="image card preview">
            </div>
            <ul class="rrss__list">
                <li class="li--card item1">
                    <a href="#" class="link__icon__card"> <i class="fas fa-mobile-alt phone-icon"></i> </a>
                </li>
                <li class="li--card item2">
                    <a href="#" class="link__icon__card"> <i class="far fa-envelope card-icon"></i></a>
                </li>
                <li class="li--card item3">
                    <a href="#" class="link__icon__card"> <i class="fab fa-linkedin-in linkedin-icon"></i> </a>
                </li>
                <li class="li--card item4">
                    <a href="#" class="link__icon__card"> <i class="fab fa-github-alt github-icon"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
