<main class="page__main">
  <div class="main">
    <h2 class="main__title">Crea tu tarjeta de visita</h2>
    <p class="main__subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <div class="box">
      <ul class="box__list">
        <li class="list__icon">
          <img class="icon" src="../../assets/images/object-ungroup-regular.svg" alt="icono-diseña">
          <p class="icon__label">diseña</p>
        </li>
        <li class="list__icon">
            <img class="icon" src="../../assets/images/keyboard-regular.svg" alt="icono-rellena">
            <p class="icon__label">rellena</p>
        </li>
        <li class="list__icon">
            <img class="icon" src="../../assets/images/share-alt-solid.svg" alt="icono-comparte">
            <p class="icon__label">comparte</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="button__container">
    <a href="#" class="landing__button">Comenzar</a>
  </div>
</main>
