<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome Profile Cards -Form</title>
    <link rel="icon" href="favicon.png" />
    <script src="https://kit.fontawesome.com/af3dab66f1.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <!-- HEADER -->
    <partial src="_form-header.html" label ="form header"></partial>

    <!-- MAIN -->
    <partial src="_form-main.html" label="form main"></partial>

    <!-- FOOTER -->
    <partial src="_footer.html" label="Form--footer"></partial>
  <script src="main.js"></script>
</body>

</html>
