<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome Profile Cards -Form</title>
    <link rel="icon" href="favicon.png" />
    <script src="https://kit.fontawesome.com/af3dab66f1.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <!-- HEADER -->
    <header class="header__box">
        <div class="header__form">
            <h1 class="title__form">awesome profile cards</h1>
        </div>
    </header>

    <!-- MAIN -->
    <main class="main__box">
        <div class="wrapper__box">
            <!-- CARD PREVIEW -->
            <div class="preview__box">
                <div class="button-card__box">
                    <button class="reset__button" type="reset"><img src="../assets/images/trash-alt-regular.svg" class="far fa-trash-alt"/><p class="reset__button-title">Reset</p></button>
                    <div class="card__box">
                        <div class="name-job__box">
                            <p class="name__card">nombre apellido</p>
                            <p class="job__card">front-end developer</p>
                        </div>
                        <div class="image-card__box">
                            <img src="https://place-hold.it/300x200" alt="image card preview">
                        </div>
                        <ul class="rrss__list">
                            <li class="li--card item1">
                              <a class="link__icon__card"><img src="../assets/images/mobile-alt-solid.svg" alt="mobile-icon" class="phone-icon"></a>
                            </li>
                            <li class="li--card item2">
                                <a class="link__icon__card"><img src="../assets/images/envelope-regular.svg" class="card-icon" alt="icon-mail"></a>
                            </li>
                            <li class="li--card item3">
                                <a class="link__icon__card"><img src="../assets/images/linkedin-in-brands.svg" class="linkedin-icon" alt="linkedin-icon"></a>
                            </li>
                            <li class="li--card item4">
                                <a class="link__icon__card"><img src="../assets/images/github-alt-brands.svg" class="github-icon" alt="github-icon"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- OPTIONS TO CREATE THE CARD -->
            <div class="options__box">
                <form class="create__card" action="" method="POST">

                    <!-- DESIGN -->
                    <fieldset class="design--card">
                        <legend class="hidden">diseña</legend>
                        <!-- DESIGN TITLE -->
                        <div class="design__box--title">
                            <div class="design__icon">
                                <img class="icon__form" src="../assets/images/object-ungroup-regular.svg" alt="icon-design">
                            </div>
                            <h2 class="design__title">diseña</h2>
                            <div class="down__icon"><i></i></div>
                        </div>
                        <!-- PALETTE LIST -->
                        <div class="design__form">
                            <p>colores</p>
                            <div class="design__form--colors">

                                <!-- ALL PALETTES LIST -->
                                <ul class="design__colors-list">

                                    <!-- PALETTE 1 -->
                                    <li class="palette">
                                        <label for="p1" class="palette__option">
                                    <input class="radio__palette" type="radio" name="palette" value="1" id="p1">
                                    <ul class="palette--colors">
                                        <li class="color__box p1--color1" style="background-color: #114e4e">cyprus</li>
                                        <li class="color__box p1--color2" style="background-color: #438792">hippie blue</li>
                                        <li class="color__box p1--color3" style="background-color: #a2deaf">chinook</li>
                                    </ul>
                                  </label>
                                    </li>

                                    <!-- PALETTE 2 -->
                                    <li class="palette">
                                        <label for="p2" class="palette__option">
                                    <input class="radio__palette" type="radio" name="palette" value="2" id="p2">
                                    <ul class="palette--colors">
                                        <li class="color__box p2--color1" style="background-color: #420101">seal brown</li>
                                        <li class="color__box" style="background-color: #bd1010">free speech red</li>
                                        <li class="color__box" style="background-color: #e95626">cinnabar</li>
                                    </ul>
                                  </label>
                                    </li>
                                    <!-- PALETTE 3 -->
                                    <li class="palette">
                                        <label for="p3" class="palette__option">
                                    <input class="radio__palette" type="radio" name="palette" value="3" id="p3">
                                    <ul class="palette--colors">
                                        <li class="color__box p3--color1" style="background-color: #3e5b65">san juan</li>
                                        <li class="color__box p3--color2" style="background-color: #eab052">casablanca</li>
                                        <li class="color__box p3--color3" style="background-color: #a0c0cf">regent st blue</li>
                                    </ul>
                                    </label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </fieldset>

                    <!-- FILL -->
                    <fieldset class="fill--card">
                        <legend class="hidden">rellena</legend>
                        <div class="fill__box--title">
                            <div class="fill__icon">
                                <img class="icon__form" src="../assets/images/keyboard-regular.svg" alt="icon-fill">
                            </div>
                            <h2 class="fill__title">rellena</h2>
                            <div class="down__icon"><i></i></div>
                        </div>
                        <div class="fill__form">
                            <div class="fill__box--name">
                                <label class="fill_name" for="name">nombre completo</label>
                                <input class="field__fill" type="text" name="name" placeholder="Ej: Sally Jill" id="">
                            </div>

                            <div class="fill__box--job">
                                <label class="fill_job" for="job">puesto</label>
                                <input class="field__fill" type="text" name="job" placeholder="Ej: Front-end unicorn" id="">
                            </div>

                            <div class="fill__box--photo">
                                <label class="fill_name" for="name">imagen de perfil</label>
                                <input class="hidden" type="file" name="photo" id="photo" required="">
                                <div class="photo__button-preview">
                                    <button class="photo__button" type="button">añadir imagen</button>
                                    <div class="photo__preview"></div>
                                </div>
                            </div>

                            <div class="fill__box--email">
                                <label class="fill_email" for="email">email</label>
                                <input class="field__fill" type="email" name="email" placeholder="Ej: sally-hill@gmail.com" id="">
                            </div>
                            <div class="fill__box--phone">
                                <label class="fill_phone" for="telephone">teléfono</label>
                                <input class="field__fill" type="tel" name="telephone" placeholder="Ej: 555-55-55-55" id="">
                            </div>
                            <div class="fill__box--email">
                                <label class="fill_email" for="email">linkedin</label>
                                <input class="field__fill" type="text" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" id="">
                            </div>
                            <div class="fill__box--email">
                                <label class="fill_email" for="email">github</label>
                                <input class="field__fill" type="text" name="github" placeholder="Ej: @sally-hill" id="">
                            </div>
                        </div>
            </div>

            </fieldset>

            <!-- SHARE -->
            <div class="share--card">
                <div class="share__box">
                    <div class="share__box--title">
                        <div class="share__icon">
                            <img class="icon__form" src="../assets/images/share-alt-solid.svg" alt="icon-share">
                        </div>
                        <h2 class="share__title">comparte</h2>
                        <div class="down__icon"><i></i></div>
                    </div>
                    <div class="card__created--info hidden">
                        <p class="created--message">La tarjeta ha sido creada:</p>
                        <a href="" class="link__card"></a>
                        <a href="" class="share__button-twitter"><i></i>compartir en twitter</a>
                    </div>
                </div>
            </div>
            </form>
        </div>
        </div>
    </main>

    <!-- FOOTER -->
    <partial src="_footer.html" label="Form--footer"></partial>

</body>

</html>
