<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome Profile Cards -Form</title>
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <!-- HEADER -->
    <header class="header__box"></header>

    <!-- MAIN -->
    <main class="main__box">
        <!-- CARD PREVIEW -->
        <div class="preview__box">
            <button class="reset__button" type="reset">reset</button>
            <div class="card__box">
                <div class="name-job__box">
                    <p class="name__card">Pocahontas al poder</p>
                    <p class="job__card">no sé muy bien cuál era su curro</p>
                </div>
                <div class="image-card__box">
                    <img src="https://place-hold.it/300x200" alt="image card preview">
                </div>
                <ul class="rrss__list">
                    <li class="li--card item1">github</li>
                    <li class="li--card item2">tinder</li>
                    <li class="li--card item3">twitter</li>
                    <li class="li--card item4">email</li>
                </ul>
            </div>
        </div>
        <!-- OPTIONS TO CREATE THE CARD -->
        <div class="options__box">
            <form class="create__card" action="" method="POST">

                <!-- DESIGN -->
                <fieldset class="design--card">
                </fieldset>

                <!-- FILL -->
                <fieldset class="fill--card">

                </fieldset>

                <!-- SHARE -->
                <fieldset class="share--card">

                </fieldset>
            </form>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="footer__box"></footer>

</body>

</html>