// Font family
$font-family--principal: 'open sans', sans-serif;
$font-family--title: 'merriweather', serif;
$font-family--card: 'montserrat', sans-serif;
//falta enlazar las fuentes, el link con las tres está en trello

// Font weight
$weight--regular: 400;
$weight--semi-bold: 600;
$weight--bold: 700;
$weight--black: 900;



/* Estilos para el título naranja de la landing-page {
  color: $color--dull-orange;
  font-family: $font-family--title;
  font-weight: $weight--black;
  font-size: 19.2px;
  @media all and (min-width:768px) {
    font-size: 24px;
  }
}

 Estilo para el botón de COMENZAR de la landing-page {
  color: $color--white;
  font-size: 16px;
  font-family: $font-family--principal;
  font-weight: $weight--semi-bold;
}

Estilo para botón RESET {
  color: $color--text;
  font-size: 12px;
  font-family: $font-family--principal;
  font-weight: $weight--regular;
  line-height: 20px;
}

Estilo para NAME CARD {
  color: $color--dark-green-blue;
  font-size: 18px;
  font-family: $font-family--card;
  font-weight: $weight--bold;
  line-height: 20px;
}

Estilo para ROLE CARD {
  color: $color--text;
  font-size: 16px;
  font-family: $font-family--card;
  font-weight: $weight--regular;
  line-height: 20px;
}

Estilo para URL CARD {
  color: $color--dull-orange;
  font-size: 12px;
  font-family: $font-family--principal;
  font-weight: $weight--semi-bold;
}
*/
