.footer-container{
  text-align: center;
  margin:auto;
  font-family: $font-family--principal;
  font-size: 20px;
  color:#6b6b6b;
  line-height: 1.43;

}
.copyright{
  margin-top:18px;
  margin-bottom: 12px;
}
.logo-adalab-link{
  margin-bottom: 20px;
}
.image-adalab{
width: 103px;
height: 40px;
}
