.main__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.preview__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color--pale-grey;
    padding-bottom: 40px;
}

.reset__button {
    align-self: flex-start;
    margin-left: 39%;
}

.card__box {
    width: auto;
    background-color: $color--white;
}

.li--card {
    display: inline;
    list-style: none;
}

.palette1,
.palette2,
.palette3 {
    list-style: none;
}

.palette1 {
    display: flex;
}

.pal-1 {
    color-1,
    color-2,
    color-3 {
        width: 30px;
        height: 25px;
        background-color: black;
    }
}

.hidden {
    height: 0;
    width: 0;
    display: inline-block;
    overflow: hidden;
}