
.icon__form {
  fill: $color--dull-orange;
  width: 32px;
  height: 26px;
}

.link__card {
color: $color--dull-orange;
font-size: 12px;
font-family: $font-family--principal;
font-weight: $weight--semi-bold;
}
