.icon__form {
  fill: $color--dull-orange;
  width: 32px;
  height: 26px;
}
.create__button {
  @include txt18($color--white);
  text-transform: uppercase;
  height: 50px;
  width: 200px;
  border-radius: 12px;
  background: $color--dull-orange;
  border: none;
  margin: 30px 60px 0px 60px;
}

.link__card {
color: $color--dull-orange;
font-size: 12px;
font-family: $font-family--principal;
font-weight: $weight--semi-bold;
}

.create__button-container, .card__created--info {
  border-bottom: 1px solid $color--footer--border;
  padding-bottom: 30px;
  margin-bottom: 30px;

}
