.options__box {
    background-color: #f5f5f5;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
}

.design--card,
.fill--card,
.share--card {
    border: none;
}

.design__title,
.fill__title,
.share__title {
    @include txt18($color--text);
    text-transform: uppercase;
}

.created--message {
  @include txt18($color--text);
}


.options__box,
.fill__form,
.share__box {
     ::first-letter {
        text-transform: capitalize;
    }
}

.drop-down {
    display: none;
}
