.field__fill {
  display: block;
  width: 100%;
  border: $color--hospital-green 1px solid;
  height: 30px;
  margin: 7px 0 20px;
}
.fill--card {
  border-bottom: 1px solid $color--footer--border;
  padding-bottom: 30px;
}
.fill__form {
  @include txt14($color--dark-green-blue);
  margin-top: 25px;
}
::placeholder {
  color: $color--placeholder;
}
.photo__button {
  @include txt14($color--white);
  background-color: $color--dull-orange;
  border-style: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}
.photo__button-preview {
  margin: 10px 0 20px;
}

.photo__preview {
  width: 30px;
  height: 30px;
  background-color:transparent;
  margin-left: 20px;
  border: 1px solid $color--hospital-green;
}
