.options__box {
  background-color: #f5f5f5;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
}

.design--card,
.fill--card,
.share--card {
  border: none;
}

.hidden {
  height: 1;
  width: 0;
  display: inline-block;
  overflow: hidden;
}


.design__title,
.fill__title,
.share__title,
.created--message {
  font-family: $font-family--principal;
  font-size: 18px;
  font-weight: $weight--semi-bold;
  color: $color--text;
}


.options__box,
.fill__form,
.share__box {
   ::first-letter {
      text-transform: capitalize;
  }
}
.design__box--title, .fill__box--title, .share__box--title {
  text-transform: uppercase;
}
