// Colors
$color--black: #000000;
$color--dark-green-blue: #114e4e;
$color--dirty-blue: #438792;
$color--hospital-green: #a2deaf;
$color--light-khaki: #f9f4dc;
$color--pale-grey: #dde9ed;
$color--silver: #bfcdd0;
$color--black-20: rgba(0, 0, 0, 0.2);
$color--dull-orange: #e17334;
$color--text: #54585a;
$color--placeholder: #c5c5c5;
$color--white: #ffffff;
$color--footer: #6b6b6b;
$color--footer--border:#d8d8d8;
$color--twitter: #00a0f5;

//Paleta 2
$color--dried-blood: #420101;
$color--rusty-red: #bd1010;
$color--tomato: #e95626;

//Paleta 3

$color--slate: #3e5b65;
$color--faded-orange: #eab052;
$color--light-grey-blue: #a0c0cf;

// Paleta 4

$color--purple: #600060;
$color--medium-orchid: #aa00aa;
$color--light-purple: #ff00ff;

// Paleta 5

$color--super-dark-green: #005500;
$color--green: #008000;
$color--lawnish-green: #00aa55;
